:root {
    --primary: #ff6a3e;
    --primaryLight: #ffba43;
    --headerColor: #1a1a1a;
    --bodyTextColor: #4e4b66;
    --bodyTextColorWhite: #fafbfc;
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: var(--bodyTextColor);
    background-color: #fafafa;
}

*, *:before, *:after {
    box-sizing: border-box;
}

/* Blog Styles */
#blog-1347 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#blog-1347 .cs-container {
    width: 100%;
    max-width: 43.75rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(3rem, 6vw, 4rem);
}

#blog-1347 .cs-content {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#blog-1347 .cs-title {
    max-width: 20ch;
    color: var(--headerColor);
}

#blog-1347 .cs-topper {
    font-size: var(--topperFontSize);
    color: var(--primaryLight);
}

#blog-1347 .cs-button-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#blog-1347 .cs-item {
    list-style: none;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s;
    position: relative;
}

#blog-1347 .cs-item:hover {
    transform: translateY(-5px);
}

#blog-1347 .cs-item:hover .cs-h3,
#blog-1347 .cs-item:hover .cs-date,
#blog-1347 .cs-item:hover .cs-category {
    color: var(--bodyTextColorWhite);
}

#blog-1347 .cs-item:hover .cs-item-text {
    background-color: var(--primary);
}

#blog-1347 .cs-item:hover .cs-icon-wrapper {
    border-color: var(--bodyTextColorWhite);
}

#blog-1347 .cs-item:hover .cs-icon {
    transform: rotate(45deg);
}

#blog-1347 .cs-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1rem;
}

#blog-1347 .cs-picture {
    width: 100%;
    height: 20rem;
    margin: 0;
    border-radius: 1.5rem;
    display: block;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#blog-1347 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

#blog-1347 .cs-item-text {
    padding: 1.25rem;
    background-color: #f7f7f7;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    transition: background-color 0.3s;
    position: relative;
    overflow: hidden;
}

#blog-1347 .cs-h3 {
    font-size: clamp(1.25rem, 1.8vw, 1.5625rem);
    line-height: 1.2em;
    text-align: left;
    margin: 0;
    color: var(--headerColor);
}

#blog-1347 .cs-icon-wrapper {
    width: 3rem;
    height: 3rem;
    border: 1px solid #bababa;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: border-color 0.3s;
}

#blog-1347 .cs-icon {
    width: auto;
    height: 0.75rem;
    transition: transform 0.3s;
}

#blog-1347 .cs-info {
    margin: 1rem 0 0;
    padding: 1rem 0 0;
    border-top: 1px solid #e8e8e8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#blog-1347 .cs-date {
    font-size: 0.875rem;
    line-height: 1.5em;
    text-align: left;
    color: var(--headerColor);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: color 0.3s;
}

#blog-1347 .cs-category {
    font-size: 0.875rem;
    text-align: center;
    padding: 0.25rem 1rem;
    color: var(--headerColor);
    border-radius: 5rem;
    position: relative;
    overflow: hidden;
    background: #e8e8e8;
    transition: background-color 0.3s;
}

#blog-1347 .cs-category:hover {
    background-color: var(--primary);
    color: var(--bodyTextColorWhite);
}

/* Media Queries */
@media only screen and (min-width: 48rem) {
    #blog-1347 .cs-container {
        max-width: 80rem;
    }
    #blog-1347 .cs-item {
        grid-column: span 4;
    }
}